.normal {
    padding: 24px;
    background: #fff;
    .PlayerCase {
        position: relative;
    }
    .PlayerCaseMain {
        position: relative;
        margin-right: 346px;
        z-index: 2;
    }
    .roomMes {
        position: relative;
        background: #fff;
        height: 80px;
        margin-bottom: 10px;
        border: 1px solid #e5e4e4;
        border-radius: 4px;
        zoom: 1;
    }
    .PlayerCaseLeft {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 336px;
        z-index: 1;
    }
}

.catRoom {
    border: 1px solid #eee;
    height: 100%;
    padding: 5px 10px;
}